/* ===== ceKNOW 02.07.2021 ===== */
#sp-header {
	background-color: #fff!important;
}
@media(min-width: 1025px) and (max-width: 5120px) {
	.container {
		width: 90%;
		max-width: 90%;
	}
}
ul.menu a {
	color: #000;
}
.w300 {
	width: 300px;
}
.text-sm {
	width: 300px;
	max-width: 300px;
}
.sp-colorize {
	border-top: 1px solid rgb(170,170,170);
	border-bottom: 1px solid rgb(170,170,170);
	border-left: 1px solid rgb(170,170,170);
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
hr {
	margin: 8px 0px!important;
	border-color: #a1a1a1!important;
}
a[data-role="gdpr_privacy_policy"] {display: none;}
#gdpr_privacy_policy_checkbox {display: none;}

.sp-colorize-container {
	width: 38px!important;
}
.text-colorpicker {
	width: 263px;
	max-width: 263px;
	border-color: rgb(170,170,170);
}
.form-group.hidden {
	background-color: #e1e1e1;
}
.jclassroomHeader {
	font-size: 32px;
}
#sp-bottom .sp-module {
	margin-bottom: 0px;
}
#sp-bottom h3 {
	margin-bottom: 10px!important;
	border-bottom: 1px solid #e1e1e1;
}
#sp-bottom .sppb-addon-content p {
	margin-bottom: 0px;
}
#sp-footer .container-inner {
	padding: 10px 0px 5px 0px!important;
}
/* ===== GPDR ==================================== */
.cc-revoke {
	border-top: 1px solid #c1c1c1;
	border-left: 1px solid #c1c1c1;
	border-right: 1px solid #c1c1c1;
}
.cc-window {
	position: fixed!important;
	bottom: 20px!important;
	left: 20px!important;
	width: 600px!important;
	min-height: 300px;
	display: block!important;
	border: 1px solid #c1c1c1;
}
.cc-window.cc-invisible {
	display: none!important;
}
.cc-cookie-settings-toggle {
	position: absolute;
	top: 210px;
	right: 29px;
}
.cc-checkboxes-container {
	position: absolute;
	top: 238px;
	left: 28px;
	width: 90%!important;
	border: 1px solid #a1a1a1;
	padding: 5px;
}
.cc-checkbox-container {
	margin-bottom: 0px!important;
}
.cc-checkbox-container a {
	margin-left: 10px!important;
}
#cc-rh-intro {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}
#cc-rh-cookietext {
	font-size: 12px;
	line-height: 14px;
}
#cc-rh-cookietext a {
	color: rgb(0, 102, 255);
}
/* ===== BLOG ==================================== */
.categories-module li h5 {
	font-size: 16px;
	color: #1BBDE8;
}
.categories-module li h5 a {
	font-size: 16px;
	color: #1BBDE8;
}
.categories-module.mod-list li.active a:before {
	content: '\f124';
	font-family: 'Fontawesome';
}
.blogModule {
	margin-bottom: 50px;
}
.blogModule h4 {
	font-size: 24px;
	border-bottom: 1px solid #a1a1a1;
}
.blogModule .tagspopular ul {
	padding-left: 0;
}
.blogModule .tagspopular li {
	list-style: none;
	background-color: #1BBDE8;
	color: #ffffff;
	display: inline-block;
	padding: 5px 10px;
	margin-bottom: 5px;
}
.blogModule .tagspopular li a {
	color: #ffffff;
}
.blogModule .tag-count {
	background-color: #f6f6f6;
	color: #a1a1a1;
}
.article-intro-image {
	width: 100%;
}
.article-intro-image img {
	width: 100%;
}
.dateContainerTop,
.dateContainerBottom {
	height: 80px;
	text-align: center;
	width: 80px;
}
.dateContainerTop {
	margin-top: 20px;
	background-color: #1BBDE8;
	color: #ffffff;
	padding-top: 5px;
}
.dateContainerBottom {
	background-color: #f6f6f6;
	color: #1BBDE8;
	font-size: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dayDate,
.monthDate {
	/*display: inline-block;
	width: 100%;*/
}
.dayDate {
	display: inline;
	font-size: 40px;
}
.monthDate {
	margin-top: -20px;
}
.article-title {
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 50px;
	text-transform: uppercase;
}
.article-info {
	align-items: baseline;
}
.article-info i {
	font-size: 20px;
	color: #1BBDE8;
	margin-right: 10px;
}
.article-body h2 {
	margin-top: 20px
}
.article-body h2 a {
	color: #1BBDE8;
}
.theImage {
	height: 300px;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.readmore {
	float: right;
	background-color: #1BBDE8;
	border-color: #1BBDE8;
}
.readmore:hover {
	background-color: #1BBDE8;
	border-color: #1BBDE8;
}
.pager {
	border: none;
	padding: 20px 0;
}
.pager a {
	color: #1BBDE8;
}
.pager li.next a:after {
	content: '\f138';
	font-family: 'Fontawesome';
	font-size: 18px;
}
.pager li.previous a:before {
	content: '\f137';
	font-family: 'Fontawesome';
	font-size: 18px;
}
.blog .header {
	display: inline-block;
	width: 100%;
}
.blog .header h2 {

}
.blog .header {
	border-bottom: 3px solid #e1e1e1;
	padding-bottom: 20px;
}
/* ===== SP-Title ================================ */
.sp-page-title {
	padding: 100px 0px 10px 0px;
	font-size: 32px!important;
}
.sp-page-title .sp-page-title-heading {
	font-size: 32px!important;
}
.sp-page-title:before {
	display: none;
}
.sp-page-title .breadcrumb {
    justify-content: center;
    margin: 0px 0px 10px 0px;
    line-height: 16px;
    font-size: 18px;
}
/* ===== Introbild =============================== */
.startseite #introimage .sppb-addon-header {
	background-color: rgba(255,255,255,0.9);
}
#sppb-addon-1597312041999 {
	opacity: 1!important;
	transform: none!important;
	transition: none!important;
	filter: none!important;
}
@media(min-width: 1025px) {
	.startseite #introimage .sppb-addon-header {
		width: 450px;
	}
	#sp-page-builder > .page-content > .sppb-section:nth-child(1) {
	    padding-top: 80px;
	}
	nav.sp-megamenu-wrapper {
		display: none!important;
	}
}
@media(min-width: 767px) AND (max-width: 1024px) AND (orientation: landscape) {
	.startseite #introimage .sppb-addon-header {
		width: 450px;
	}
	#sp-page-builder > .page-content > .sppb-section:nth-child(1) {
	    padding-top: 80px;
	}
	nav.sp-megamenu-wrapper {
		display: none!important;
	}
}
@media(min-width: 767px) AND (max-width: 1024px) AND (orientation: portrait) {
	.startseite #introimage .sppb-addon-header {
		width: 400px;
	}
	.startseite #introimage .sppb-addon-header .sp-addon-title {
		font-size: 28px!important;
	}
	#sp-page-builder > .page-content > .sppb-section:nth-child(1) {
	    padding-top: 50px;
	}
	ul.menu.nav {
		display: none;
	}
	nav.sp-megamenu-wrapper {
	    display: block!important;
	}
}
@media(min-width: 414px) AND (max-width: 766px) AND (orientation: landscape) {
	.startseite #introimage .sppb-addon-header {
		width: 450px;
		margin-left: -50px;
	}
	#sp-page-builder > .page-content > .sppb-section:nth-child(1) {
	    padding-top: 30px;
	}
	nav.sp-megamenu-wrapper {
		display: block!important;
	}
}
@media(min-width: 0px) AND (max-width: 766px) AND (orientation: portrait) {
	.startseite #introimage .sppb-addon-header {
		width: 300px;
		margin-left: -180px;
	}
	.startseite #introimage .sppb-addon-header .sp-addon-title {
		font-size: 24px!important;
	}
	#sp-page-builder > .page-content > .sppb-section:nth-child(1) {
	    padding-top: 0px;
	}
	ul.menu.nav {
		display: none;
	}
	nav.sp-megamenu-wrapper {
	    display: block!important;
	}
}
/* ===== SP-Menü ================================= */
#sp-menu {
	float: left;
}
#sp-menu ul.menu {
	float: left;
	width: 100%;
}
#sp-menu ul.menu > li {
	position: relative;
	margin: 0 10px;
}
#sp-menu ul.menu > li.menu-deeper:hover .menu-child {
	display: block;
}
#sp-menu ul.menu > li.menu-deeper .menu-child {
	display: none;
	position: absolute;
	top: 85px;
	left: 0px;
	width: 240px;
	background-color: #fff;
	padding-left: 0px;
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
}
#sp-menu ul.menu > li.menu-deeper .menu-child a {
	display: inline-block;
	width: 100%;
	padding: 5px 10px;
}
#sp-menu ul.menu > li.menu-deeper .menu-child a:hover {
	background-color: #f1f1f1;
}
#sp-menu ul.menu > li.menu-deeper li {
	list-style: none;
}
#sp-menu ul.menu > li > a,
#sp-menu ul.menu > li > span {
	line-height: 85px;
	font-weight: 500;
	font-size: 18px;
}
a#offcanvas-toggler i {
	color: #a1a1a1!important;
}
.offcanvas-overlay {
	z-index: 9;
}
.offcanvas-menu {
	background-color: #fff!important;
	border-left: 2px solid #a1a1a1;
}
@media(min-width: 0px) and (max-width: 767px) {
	nav.sp-megamenu-wrapper {
		display: block;
	}
	ul.menu.nav {
		display: none!important;
	}
}
/* ===== SP-Main-Body ============================ */
#sp-main-body {
	padding-top: 50px;
}

#sp-bottom {
	background-color: #222222;
}
#sp-bottom a {
	color: #ffffff;
}
#sp-footer {
	background-color: #222222;
}
#sp-footer .sp-copyright {
	color: #ffffff;
}
/* ===== Messages ================================ */
label.error {
	font-weight: 600;
	font-size: 13px;
	background-color: rgba(255, 0, 0, 0.9);
	color: #fff;
	padding: 2px 10px;
	border-radius: 3px;
	margin-top: 5px;
	margin-bottom: 0;
}
.alert {}
.alert-notice {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}
/* ===== SELECT 2 ================================= */
.select2-container .select2-selection--single {
      height: 38px;
}

.select2-container--default
.select2-selection--single
.select2-selection__rendered {
      line-height: 38px;
}

.select2-selection__arrow {
      height: 35px!important;
}
/* ===== Bootstrap Switch ========================== */
.custom-control-label {
	padding: 4px 0px 0px 10px;
}
.custom-control-label::before {
	height: 25px!important;
	width: 37px!important;
}
.custom-switch .custom-control-label::before {
	border-radius: 1.5rem!important;
}
.custom-switch .custom-control-label::after {
	height: 21px!important;
	width: 20px!important;
	left: calc(-2.25rem + 2px)!important;
	border-radius: 50%!important;
}
/* ===== SUMMERNOTE ================================ */
.note-editor .note-toolbar {
	background-color: #f1f1f1!important;
}
/* ===== JClassroom ================================ */
ul.pagination li.active a.page-link {
	background-color: #46A2FF!important;
	color: #fff!important;
}
#classroomSidebar {
	position: fixed;
	width: 100px;
	background-color: #e1e1e1;
	left: 0px;
}
#classroomSidebar a {
	display: flex;
	font-size: 32px;
	justify-content: center;
	padding: 15px 0;
	color: #666666;
}
#classroomSidebar a.active {
	color: lightskyblue;
}
.classroomTabs.hideThis {
	display: none;
}
.classroomTabs h2 {
	font-size: 30px;
}

#classroomSidebar a:hover {
	color: #aaaaaa;
}
#description {
	background-color: lightsteelblue;
	padding: 15px;
	border-radius: 4px;
	margin-bottom: 15px;
}
#descriptionHeader {
	display: flex;
	justify-content: space-between;
}
#descriptionHeader h2 {
	font-size: 24px;
	font-weight: bold;
}
#descriptionContent.hide {
	display: none;
}
#descriptionContent.show {
	display: block;
}
.unitContent {
	display: none;
}
.unitContent.openUnit {
	display: block;
}
#structure .unit .sectionHeader i,
#structure .module .moduleHeader i {
	font-size: 24px;
}
.fileRow {
	width: calc(100% - 2px);
	margin: 0px 2px;
	padding: 2px 4px;
	background-color: #f1f1f1;
}
.module {
	border-radius: 4px;
	background-color: #c1c1c1;
	padding: 5px;
	margin-bottom: 5px;
}
.moduleContent.hide {
	display: none;
}
.moduleContent.show {
	display: block;
}
.moduleHeader h4 {
	margin: 0px;
	line-height: 33px;
}
.moduleHeader i {
	cursor: pointer;
}
.moduleHeader .moduleRight {
	justify-content: right;
	align-content: center;
}
.moduleHeader .moduleRight a {
	margin-right: 10px;
}
.unit .sectionHeader i,
.module .moduleHeader i {
	cursor: pointer;
}
.unit .sectionHeader i.move,
.module .moduleHeader i.move,
.section .sectionHeader i.move {
	cursor: ns-resize;
	margin-right: 15px;
}
.unit .sectionHeader h4 {
	margin: 0;
	line-height: 30px;
}
.unit .sectionHeader h5 {
	margin: 0;
	line-height: 14px;
}
#stage .module {
	width: 100%;
}
#stage .module h4 {
	font-size: 24px;
}
#structure .form-group {
	margin-bottom: 5px;
}
#structure .card .card-body {
	display: none;
}
#structure .card.openDay .card-body {
	display: block;
} 
#structure .card .card-header-action i {
	font-size: 32px;
	color: #aaaaaa;
	margin: 0 5px;
	cursor: pointer;
}
.classroomDays a {
	background-color: #e1e1e1;
	margin-right: 5px;
}
.classroomDays a:hover {
	background-color: #c1c1c1;
	margin-right: 5px;
}
#structure .card .addUnit {
	cursor: pointer;
}
#sections .section .sectionHeader i {
	font-size: 30px;
	margin-right: 15px;
}
#sections .section .groupHeader i.move,
#sections .section .sectionHeader i.move {
	cursor: ns-resize;
}
#sections .section .moduleHeader i {
	font-size: 30px;
	margin-right: 15px;
}
#sections .section.group .groupHeader i {
	font-size: 30px;
	margin-right: 15px;
}
#section.group {
	background-color: #e1e1e1;
	list-style: none;
}
.toggle.btn {
    min-width: 100px;
    min-height: 34px;
    text-align: center!important;
}
.toggle.btn.btn-success {
	padding-right: 12px!important;
}
.toogle-group label.btn-danger,
.toggle.btn.btn-danger {
	border: #bd2130!important;
}
.toggle-on.btn {
	padding-right: 12px!important;
}
.answerTyp3_correct {
	/*display: none;*/
}
.toogle .toggle-group {
	display: none!important;
}
@media(min-width: 0px) and (max-width: 767px) {
	.stage .sectionCounter {
		font-size: 14px;
		margin-top: 5px;
		margin-bottom: 5px;
		float: left!important;
	}
	.stage p {
		font-size: 14px;
	}
	.stage table {
		max-width: 100%;
		width: 100%!important;
	}
}
@media(min-width: 768px) {
	img.white-logo {
		display: none!important;
	}
}
/* ===== JClassroom ========================*/
.moduleHeader,
h4.stageUnitHeader {
	cursor: pointer;
}
.stage h1 {
	font-size: 32px;
}
.stage h3 {
	font-size: 24px;
}
.stage .card .card-body.hide {
	display: none!important;
}
.stage .card .card-body.hide {
	display: inline-block;!important;
}
.stage .sectionTitle {
	font-size: 48px;
}
.stage .dayrow {
	margin-bottom: 4px;
}
.stage .dayrow p {
	
}
.stage .dayrow .day .card-body,
.stage .dayrow .times .time .card-body {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.stage .dayrow .times {
	margin-bottom: 4px;
}
.stage .dayrow .times:last-child {
	margin-bottom: 0px;
}
.stage .stageModule {
	width: 100%;
	background-color: #e1e1e1;
	border-radius: 3px;
	border: 1px solid #aaa;
	padding: 5px;
}
.stage .stageModule h4 {
	font-size: 20px;
	font-weight: bold;
}
#wait, #save {
	opacity: 1;
	background-color: rgba(0,0,0,0.8);
	border-radius: 5px;
	position: fixed;
	width: 300px;
	height: 300px;
	top: calc(50% - 150px);
	left: calc(50% - 150px);
	display: none;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	color: #fff;
	flex-wrap: wrap;
	padding: 30px 10px;
	z-index: 999999;
}
.answer3 {
	display: flex;
}
.contentHTML,
.infotextPositivHTML,
.infotextNegativHTML {
	padding: 5px;
	width: 100%;
	min-height: 80px;
	max-height: 600px;
	overflow-y: scroll;
	background-color: #ffffff;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	cursor: pointer;
}
.wwmanswerHTML {
	padding: 5px;
	width: 100%;
	min-height: 35px;
	max-height: 600px;
	overflow-y: scroll;
	background-color: #ffffff;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	cursor: pointer;
}
.contentHTML:hover,
.infotextPositivHTML:hover,
.infotextNegativHTML:hover,
.wwmanswerHTML:hover  {
	background-color: #f1f1f1;
}
.ql-container {
	height: 90%!important;
}
#wait img,#save img {
	margin: 0 auto;
	margin-top: 30px;
	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/* ===== Wait-Dialogs ====================== */
#save {
 text-align: center;
}

/* ===== Learningroom Inhaltsstruktur  ===== */
#timeblocks {
   width: 100%;
   min-height: 200px;
   background-color: #b1b1b1;
   padding: 15px;
}
#timeblocks a {
   background-color: steelblue;
   z-index: 999;
   color: #fff;   
}
#timeblocks .timeblock {
   position: relative;
   padding: 5px;
   width: 100%;
   min-height: 170px;
   background-color: #e1e1e1;
   margin-bottom: 15px;
}
.timeblock a {
   margin-right: 10px;
   color: #fff;
   background-color: steelblue;
   width: 100%;
}
.timeblock.over,
#themes.over {
   border: 3px solid forestgreen;
}
#timeblocks .timeblock .theDate {
   font-weight: bold;
   position: absolute;
   display: block;
   left: -100px;
   top: 0px;
   width: 100px;
   text-align: center;
   background-color: lightsteelblue;
}
#themes {
   background-color: #e1e1e1;
   padding:10px;
   min-height: 400px;
}
#themes a {
   background-color: steelblue;
   color: #fff;
   margin-right: 5px;
}

