.classroomDay {
	display: flex;
	align-content: baseline;
	flex-wrap: wrap;
	background-color: #e1e1e1;
	width: 100%;
	min-height: 200px;
	margin: 5px 0;
	padding: 5px;
}
.classroomDayHeader {
	width: 100%;
	padding: 5px;
	background-color: #d1d1d1;
	height: 40px;
}
.classroomDayHeader h4 {
	font-size: 18px;
	margin-bottom: 0px;
}
.classroomDayHeader i {
	font-size: 18px;
	width: 30px;
	height: 30px;
	text-align: center;
	margin: 0 5px;
}
.classroomDayBody {
	width: 100%;
}
.classroomModule {
	width: 100%;
	background-color: #f1f1f1;
	margin: 5px 0;
	min-height: 150px;
}
.classroomModuleHeader {
	width: 100%;
	padding: 5px;
	height: 40px;
}
.classroomModuleHeader h4 {
	font-size: 18px;
	margin-bottom: 0px;
	display: inline;
}
.classroomModuleHeader i {
	font-size: 18px;
	width: 30px;
	height: 30px;
	text-align: center;
	margin: 0 5px;
}