/* fonts */

div.jqcloud {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }

/* colors */

div.jqcloud { color: #09f; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #0df; }
div.jqcloud a:hover { color: #0cf; }
div.jqcloud span.w10 { color: #ff3600; }
div.jqcloud span.w9 { color: royalblue; }
div.jqcloud span.w8 { color: cornflowerblue; }
div.jqcloud span.w7 { color: steelblue; }
div.jqcloud span.w6 { color: lightsteelblue; }
div.jqcloud span.w5 { color: darkturquoise }
div.jqcloud span.w4 { color: turquoise; }
div.jqcloud span.w3 { color: mediumseagreen; }
div.jqcloud span.w2 { color: seagreen; }
div.jqcloud span.w1 { color: green; }

/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }