#plans .card {
	min-height: 400px;
	transition: all 0.3s ease-in-out;
}
#plans .card.disabled {
	background-color: #a1a1a1;
	color: #c1c1c1;
}
#plans .card.disabled .btn {
	visibility: hidden;
}
#plans .card:hover {
	transform: scale(1.05);
	z-index: 99999;
}
#plans .card h2 {
	font-size: 48px;
	font-weight: bold;
}
#plans .card p.price_description {
	font-size: 14px;
	color: #a1a1a1;
}
#plans .card ul {
	padding-left: 0px;
}
#plans .card ul li {
	margin: 10px 0;
	list-style: none;
}
#plans .card ul li.yes:before {
	font-family: "Font Awesome 5 Free";
	/*content:"\f05d";*/
	content: "\f00C";
	font-size: 28px;
	font-weight: 600;
	color: forestgreen;
	padding-right: 10px;
}
#plans .card ul li.no:before {
	font-family: "Font Awesome 5 Free";
	content: "\f05e";
	/*content: "\f007";*/
	font-size: 28px;
	font-weight: 600;
	color: red;
	padding-right: 10px;
}
#plans .card .teaser {
	position: absolute;
	top: 20px;
	right: 10px;
	background-color: red;
	color: #fff;
	padding: 2px 10px;
	transform: rotate(10deg);
	font-size: 18px;
	font-weight: bold;
	border-radius: 3px;
}
